<nav class="header border border-top-0 border-4 border-warning rounded-5 rounded-top-0">
    <ul>
        <li style="list-style:none;"><img src="/asset/img/icons8-mentor-64.png" alt=""></li>
        <li>
            <h1>
                <a class="navbar-brand " href="#" style="font-family: Nabla;">MentorSync
                </a>
            </h1>
        </li>
        <li><img src="/asset/img/sigcebg.png" alt=""></li>
    </ul>
</nav>
</div>