<%- include('../link.ejs') %>



    <!--<nav class=" bg-body-tertiary border border-top-0 border-4 border-warning rounded-5 rounded-top-0">
    <div class="container-fluid">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav">
                <img src="/asset/img/icons8-mentor-64.png">
                <h1>
                    <a class="navbar-brand " href="#" style="font-family: Nabla;font-size: larger;">
                        <link rel="stylesheet"
                            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
                        </i>Mentor
                        Sync
                    </a>
                </h1>

            </ul>
        </header>
        </nav-->
    <%- include('header.ejs') %>

        <div class="container">
            <header class="d-flex justify-content-center py-3">
                <ul class="nav nav-pills text-white">
                    <li class="nav-item"><a href="/" class="nav-link  custom-nav" style="font-family: anta;"
                            aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link custom-nav" style="font-family: anta;">About</a>
                    </li>
                    <li class="nav-item" style="font-family: anta;">
                        <a class="nav-link dropdown-toggle custom-nav" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="true">
                            Sign-In
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/login/adminLogin">Admin</a></li>
                            <li><a class="dropdown-item" href="/login/mentorLogin">Mentor</a></li>
                        </ul>
                    </li>
                </ul>
            </header>
        </div>


        <body>
            <%- body %>
                <script>
                    if ('serviceWorker' in navigator) {
                        window.addEventListener('load', function () {
                            navigator.serviceWorker.register('/pwa/sw.js').then(function (registration) {
                                console.log('ServiceWorker registration successful with scope: ', registration.scope);
                            }, function (err) {
                                console.log('ServiceWorker registration failed: ', err);
                            });
                        });
                    }
                </script>
        </body>




        </html>