<main class="">
    <div class=" container col-xxl-10 px-8 ">
        <div class=" row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="custom-flex col col-sm-6 col-md-10 col-lg-5">
                <img src="/asset/img/bloom-business-coaching.png"
                    class="bg-warning bg-opacity-10 border border-warning rounded-5 shadow-lg d-block mx-lg-auto img-fluid "
                    alt="Bootstrap Themes" width="500" height="300" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-7 fw-bold lh-1 mb-6 text-white" style="font-family:anta" ">Empowering Mentorship
                        with<b class=" text-warning"> MentorSync</b>
                </h1>
                <p class=" text-white" style="text-align:justify;">Streamline the process of storing mentee
                    data and managing
                    mentorship
                    relationships effortlessly with MentorMate. Our
                    user-friendly platform allows mentors to easily input, organize, and access mentee information,
                    ensuring a seamless
                    mentorship experience. Say goodbye to cumbersome data storage methods and hello to efficient
                    mentorship management with
                    MentorMate!</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-outline-warning btn-lg px-4 me-md-2"
                        style="font-weight: 1000;font-family: anta;">
                        Sign-In</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container bg-white rounded-5 rounded-pill">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 ">
            <marquee behavior="" direction="left">
                <p class="col-md-4 mb-0 text-muted">&copy; 2024 Company, Inc ||<em class="text-warning"> A mentor is
                        someone who allows you to see the hope inside yourself.” Oprah Winfrey – Host, Producer,
                        Author
                        &
                        Philanthropist</em></p>
            </marquee>

        </footer>
    </div>

</main>