<main class=" bg-dark">
    <div class=" container col-xxl-10 px-8 ">
        <div class=" row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="bg-white">
                <h1>This is login page for admin</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis eum consectetur rerum ut similique
                    totam
                    iusto, blanditiis temporibus unde veniam officia recusandae non quia numquam perspiciatis ipsa
                    quidem
                    quos corrupti?</p>
                <form class="form">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label ">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label ">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>